.item {
  width: 250px;
  height: 70px;

  display: flex;

  border: 1px solid grey;
  padding-left: 20px;
  align-items: center;
  gap: 10px;

  box-shadow: 0px 0px 5px 5px violet;
}

.online {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: green;
}
.offline {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: red;
}
